//
// Color scheme
//
$base-color:      #0BB326;
$success:   $flat-nephritis;
$danger:    $flat-pomegranate;
$warning:   $flat-orange;
$info:      $flat-belize-hole;

// Base Font
$base-font-path: "/lib/fonts";
//$base-font-family: "Source Sans Pro", sans-serif;
$base-font-family: "Open Sans", sans-serif;
$base-font-size:   14;