// ---------------------------------------------------------------------------- //
// ---------- CUSTOM FX ------------------------------------------------------- //
// ---------------------------------------------------------------------------- //
// TODO: move to own file ?

@include keyframes(spin) {
  to {
    @include transform(rotate(360deg));
  }
}

@include keyframes(slide) {
  0%, 100% {
    left: 0;
    //@include transform(translate3d(0, 0%, 0));
    background: #ED1F24;
  }
  50% {
    left: 100%;
    //@include transform(translate3d(0, 100%, 0));
    background: #16A4E6;
  }
}

@include keyframes(enterDown) {
  from {
    opacity: 0;
    bottom: -70px;
  }
  75% {
    bottom: 15px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}

@include keyframes(leaveDown) {
  to {
    opacity: 0;
    bottom: -70px;
  }
  25% {
    bottom: 15px;
  }
  from {
    opacity: 1;
    bottom:0px;
  }
}



// long shadow text style
@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 200 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

// Long Shadow MIXIN
@mixin longshadow($color, $darkenPercent) {
  text-shadow: makelongshadow(darken($color, $darkenPercent));
}

// ---------------------------------------------------------------------------- //
// ---------- CUMSTOM KEYFRAMES / ANIMATIONS ---------------------------------- //
// ---------------------------------------------------------------------------- //

// go blur
@include keyframes(goBlur) {
  0% { @include filter(blur(0px)); }
  50% { @include filter(blur(5px)); }
  100% { @include filter(blur(0px)); }
}

// go anaglyph
@include keyframes(goAnaglyph) {
  0% { text-shadow: -0.06em 0 red, 0.06em 0 cyan; }
  50% { text-shadow: -0.08em 0 red, 0.08em 0 cyan; }
  100% { text-shadow: -0.06em 0 red, 0.06em 0 cyan; }
}

// Pop-in effect
@include keyframes(pop-in) {
  0% {
    @include transform(scale(0.9), translate3d(0,0,0));
  }

  33% {
    @include transform(scale(1.5), translate3d(0,0,0));
  }

  66% {
    @include transform(scale(0.975), translate3d(0,0,0));
  }

  100% {
    @include transform(scale(1), translate3d(0,0,0));
  }
}

// Butterlfy wing flippering
@include keyframes(flipper) {
  0% {
    @include transform(scale(1, 1));
  }
  100% {
    @include transform(scale(0.2, 1));
  }
}

@include keyframes(fadeInShadows) {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 0.2;
    filter: alpha(opacity=20);
  }
}

@include keyframes(fadeInLights) {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  100% {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
}

//
//  experimental glitch fx
//
.glitch {
  color: white;
  /* font-size:0px;*/

  position: relative;
  width:268px;
  height:654px;
  margin: 0 auto;
  text-indent: -999em;

  &:after{
    content:'';
    width: 100%;
    height: 100%;

    position: absolute;
    left: 2px;
    top: 0;

    overflow: hidden;
    background: inherit;

    clip: rect(0, 900px, 0, 0);

    // Animation ready / Force HA
    @extend .noflicker;
    @include transition(all 0.4s $animationEasing);

    @include animation-duration(2s);
    @include animation-timing-function($animationEasing);
    @include animation-iteration-count(infinite);
    @include animation-direction(alternate-reverse);
    @include animation-name(noise-anim);

    @include filter(hue-rotate(90deg));
  }

  &:before{
    content: '';
    width: 100%;
    height: 100%;

    position: absolute;
    left: -2px;
    top: 0;

    overflow:hidden;
    background:inherit;

    clip: rect(0, 900px, 0, 0);

    // Animation ready / Force HA
    @extend .noflicker;
    @include transition(all 0.4s $animationEasing);

    @include animation-duration(3s);
    @include animation-timing-function($animationEasing);
    @include animation-iteration-count(infinite);
    @include animation-direction(alternate-reverse);
    @include animation-name(noise-anim-2);

    @include filter(hue-rotate(300deg));
  }

}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(654)+px,9999px,random(654)+px,0);
    }
  }
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}



//
// SVG animations
//
// TODO: change var names and move to own file ?

$svg-color-active: #e25027 !default;
$svg-color-inactive: #ebebeb !default;

@include keyframes(svg_dash) {
  to {
    stroke-dashoffset: 0;
  }
}

@include keyframes(svg_outline) {
  100% {
    stroke-dashoffset: 0;
  }
}


@include keyframes(svg_outline_hide) {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}


@include keyframes(svg_fill_active) {
  100% {
    fill: $svg-color-active;
    fill-opacity: 1;
  }
}


@include keyframes(svg_fill_inactive) {
  100% {
    fill: $svg-color-inactive;
    fill-opacity: 1;
  }
}


@include keyframes(svg_stroke_inactive) {
  100% {
    stroke: $svg-color-inactive;
  }
}

@include keyframes(svg_stroke_active) {
  100% {
    stroke: $svg-color-active;
  }
}

//
// CUSTOM JELLY ANIMATION
//

@-webkit-keyframes jellyize {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  1% {
    -webkit-transform: scale(0.5278, 0.532);
    transform: scale(0.5278, 0.532);
  }

  2% {
    -webkit-transform: scale(0.5605, 0.5764);
    transform: scale(0.5605, 0.5764);
  }

  3% {
    -webkit-transform: scale(0.5971, 0.6306);
    transform: scale(0.5971, 0.6306);
  }

  4% {
    -webkit-transform: scale(0.6367, 0.6917);
    transform: scale(0.6367, 0.6917);
  }

  5% {
    -webkit-transform: scale(0.6783, 0.7572);
    transform: scale(0.6783, 0.7572);
  }

  6% {
    -webkit-transform: scale(0.7211, 0.8245);
    transform: scale(0.7211, 0.8245);
  }

  7% {
    -webkit-transform: scale(0.7642, 0.8911);
    transform: scale(0.7642, 0.8911);
  }

  8% {
    -webkit-transform: scale(0.8071, 0.955);
    transform: scale(0.8071, 0.955);
  }

  9% {
    -webkit-transform: scale(0.8489, 1.014);
    transform: scale(0.8489, 1.014);
  }

  10% {
    -webkit-transform: scale(0.8892, 1.067);
    transform: scale(0.8892, 1.067);
  }

  11% {
    -webkit-transform: scale(0.9274, 1.113);
    transform: scale(0.9274, 1.113);
  }

  12% {
    -webkit-transform: scale(0.9632, 1.151);
    transform: scale(0.9632, 1.151);
  }

  13% {
    -webkit-transform: scale(0.9961, 1.18);
    transform: scale(0.9961, 1.18);
  }

  14% {
    -webkit-transform: scale(1.026, 1.201);
    transform: scale(1.026, 1.201);
  }

  15% {
    -webkit-transform: scale(1.053, 1.213);
    transform: scale(1.053, 1.213);
  }

  16% {
    -webkit-transform: scale(1.076, 1.217);
    transform: scale(1.076, 1.217);
  }

  17% {
    -webkit-transform: scale(1.112, 1.202);
    transform: scale(1.112, 1.202);
  }

  18% {
    -webkit-transform: scale(1.125, 1.186);
    transform: scale(1.125, 1.186);
  }

  19% {
    -webkit-transform: scale(1.135, 1.166);
    transform: scale(1.135, 1.166);
  }

  20% {
    -webkit-transform: scale(1.142, 1.142);
    transform: scale(1.142, 1.142);
  }

  21% {
    -webkit-transform: scale(1.145, 1.115);
    transform: scale(1.145, 1.115);
  }

  22% {
    -webkit-transform: scale(1.146, 1.087);
    transform: scale(1.146, 1.087);
  }

  23% {
    -webkit-transform: scale(1.145, 1.059);
    transform: scale(1.145, 1.059);
  }

  24% {
    -webkit-transform: scale(1.142, 1.032);
    transform: scale(1.142, 1.032);
  }

  25% {
    -webkit-transform: scale(1.136, 1.006);
    transform: scale(1.136, 1.006);
  }

  26% {
    -webkit-transform: scale(1.129, 0.9826);
    transform: scale(1.129, 0.9826);
  }

  27% {
    -webkit-transform: scale(1.121, 0.9619);
    transform: scale(1.121, 0.9619);
  }

  28% {
    -webkit-transform: scale(1.111, 0.9444);
    transform: scale(1.111, 0.9444);
  }

  29% {
    -webkit-transform: scale(1.101, 0.9304);
    transform: scale(1.101, 0.9304);
  }

  30% {
    -webkit-transform: scale(1.089, 0.9201);
    transform: scale(1.089, 0.9201);
  }

  31% {
    -webkit-transform: scale(1.078, 0.9133);
    transform: scale(1.078, 0.9133);
  }

  32% {
    -webkit-transform: scale(1.066, 0.9101);
    transform: scale(1.066, 0.9101);
  }

  33% {
    -webkit-transform: scale(1.055, 0.9101);
    transform: scale(1.055, 0.9101);
  }

  34% {
    -webkit-transform: scale(1.032, 0.9187);
    transform: scale(1.032, 0.9187);
  }

  35% {
    -webkit-transform: scale(1.022, 0.9264);
    transform: scale(1.022, 0.9264);
  }

  36% {
    -webkit-transform: scale(1.012, 0.9358);
    transform: scale(1.012, 0.9358);
  }

  37% {
    -webkit-transform: scale(1.003, 0.9464);
    transform: scale(1.003, 0.9464);
  }

  38% {
    -webkit-transform: scale(0.9949, 0.9578);
    transform: scale(0.9949, 0.9578);
  }

  39% {
    -webkit-transform: scale(0.9876, 0.9695);
    transform: scale(0.9876, 0.9695);
  }

  40% {
    -webkit-transform: scale(0.9811, 0.9811);
    transform: scale(0.9811, 0.9811);
  }

  41% {
    -webkit-transform: scale(0.9755, 0.9922);
    transform: scale(0.9755, 0.9922);
  }

  42% {
    -webkit-transform: scale(0.9709, 1.002);
    transform: scale(0.9709, 1.002);
  }

  43% {
    -webkit-transform: scale(0.9671, 1.012);
    transform: scale(0.9671, 1.012);
  }

  44% {
    -webkit-transform: scale(0.9643, 1.02);
    transform: scale(0.9643, 1.02);
  }

  45% {
    -webkit-transform: scale(0.9623, 1.026);
    transform: scale(0.9623, 1.026);
  }

  46% {
    -webkit-transform: scale(0.9611, 1.031);
    transform: scale(0.9611, 1.031);
  }

  47% {
    -webkit-transform: scale(0.9606, 1.035);
    transform: scale(0.9606, 1.035);
  }

  48% {
    -webkit-transform: scale(0.9608, 1.037);
    transform: scale(0.9608, 1.037);
  }

  49% {
    -webkit-transform: scale(0.9616, 1.038);
    transform: scale(0.9616, 1.038);
  }

  50% {
    -webkit-transform: scale(0.9647, 1.035);
    transform: scale(0.9647, 1.035);
  }

  51% {
    -webkit-transform: scale(0.9669, 1.032);
    transform: scale(0.9669, 1.032);
  }

  52% {
    -webkit-transform: scale(0.9695, 1.029);
    transform: scale(0.9695, 1.029);
  }

  53% {
    -webkit-transform: scale(0.9722, 1.025);
    transform: scale(0.9722, 1.025);
  }

  54% {
    -webkit-transform: scale(0.9752, 1.02);
    transform: scale(0.9752, 1.02);
  }

  55% {
    -webkit-transform: scale(0.9782, 1.015);
    transform: scale(0.9782, 1.015);
  }

  56% {
    -webkit-transform: scale(0.9814, 1.01);
    transform: scale(0.9814, 1.01);
  }

  57% {
    -webkit-transform: scale(0.9845, 1.006);
    transform: scale(0.9845, 1.006);
  }

  58% {
    -webkit-transform: scale(0.9876, 1.001);
    transform: scale(0.9876, 1.001);
  }

  59% {
    -webkit-transform: scale(0.9905, 0.997);
    transform: scale(0.9905, 0.997);
  }

  60% {
    -webkit-transform: scale(0.9934, 0.9934);
    transform: scale(0.9934, 0.9934);
  }

  61% {
    -webkit-transform: scale(0.9961, 0.9903);
    transform: scale(0.9961, 0.9903);
  }

  62% {
    -webkit-transform: scale(0.9986, 0.9879);
    transform: scale(0.9986, 0.9879);
  }

  63% {
    -webkit-transform: scale(1.001, 0.9861);
    transform: scale(1.001, 0.9861);
  }

  64% {
    -webkit-transform: scale(1.003, 0.9849);
    transform: scale(1.003, 0.9849);
  }

  65% {
    -webkit-transform: scale(1.005, 0.9844);
    transform: scale(1.005, 0.9844);
  }

  66% {
    -webkit-transform: scale(1.006, 0.9844);
    transform: scale(1.006, 0.9844);
  }

  67% {
    -webkit-transform: scale(1.009, 0.9859);
    transform: scale(1.009, 0.9859);
  }

  68% {
    -webkit-transform: scale(1.009, 0.9872);
    transform: scale(1.009, 0.9872);
  }

  69% {
    -webkit-transform: scale(1.01, 0.9888);
    transform: scale(1.01, 0.9888);
  }

  70% {
    -webkit-transform: scale(1.01, 0.9907);
    transform: scale(1.01, 0.9907);
  }

  71% {
    -webkit-transform: scale(1.011, 0.9927);
    transform: scale(1.011, 0.9927);
  }

  72% {
    -webkit-transform: scale(1.011, 0.9947);
    transform: scale(1.011, 0.9947);
  }

  73% {
    -webkit-transform: scale(1.01, 0.9967);
    transform: scale(1.01, 0.9967);
  }

  74% {
    -webkit-transform: scale(1.01, 0.9986);
    transform: scale(1.01, 0.9986);
  }

  75% {
    -webkit-transform: scale(1.01, 1);
    transform: scale(1.01, 1);
  }

  76% {
    -webkit-transform: scale(1.009, 1.002);
    transform: scale(1.009, 1.002);
  }

  77% {
    -webkit-transform: scale(1.008, 1.003);
    transform: scale(1.008, 1.003);
  }

  78% {
    -webkit-transform: scale(1.008, 1.005);
    transform: scale(1.008, 1.005);
  }

  79% {
    -webkit-transform: scale(1.007, 1.005);
    transform: scale(1.007, 1.005);
  }

  80% {
    -webkit-transform: scale(1.006, 1.006);
    transform: scale(1.006, 1.006);
  }

  81% {
    -webkit-transform: scale(1.005, 1.006);
    transform: scale(1.005, 1.006);
  }

  82% {
    -webkit-transform: scale(1.004, 1.007);
    transform: scale(1.004, 1.007);
  }

  83% {
    -webkit-transform: scale(1.004, 1.006);
    transform: scale(1.004, 1.006);
  }

  84% {
    -webkit-transform: scale(1.002, 1.006);
    transform: scale(1.002, 1.006);
  }

  85% {
    -webkit-transform: scale(1.001, 1.005);
    transform: scale(1.001, 1.005);
  }

  86% {
    -webkit-transform: scale(1.001, 1.004);
    transform: scale(1.001, 1.004);
  }

  87% {
    -webkit-transform: scale(0.9999, 1.003);
    transform: scale(0.9999, 1.003);
  }

  88% {
    -webkit-transform: scale(0.9994, 1.003);
    transform: scale(0.9994, 1.003);
  }

  89% {
    -webkit-transform: scale(0.9989, 1.002);
    transform: scale(0.9989, 1.002);
  }

  90% {
    -webkit-transform: scale(0.9984, 1.001);
    transform: scale(0.9984, 1.001);
  }

  91% {
    -webkit-transform: scale(0.9981, 1);
    transform: scale(0.9981, 1);
  }

  92% {
    -webkit-transform: scale(0.9977, 0.9995);
    transform: scale(0.9977, 0.9995);
  }

  93% {
    -webkit-transform: scale(0.9975, 0.9988);
    transform: scale(0.9975, 0.9988);
  }

  94% {
    -webkit-transform: scale(0.9973, 0.9983);
    transform: scale(0.9973, 0.9983);
  }

  95% {
    -webkit-transform: scale(0.9972, 0.9979);
    transform: scale(0.9972, 0.9979);
  }

  96% {
    -webkit-transform: scale(0.9972, 0.9976);
    transform: scale(0.9972, 0.9976);
  }

  97% {
    -webkit-transform: scale(0.9971, 0.9974);
    transform: scale(0.9971, 0.9974);
  }

  98% {
    -webkit-transform: scale(0.9972, 0.9973);
    transform: scale(0.9972, 0.9973);
  }

  99% {
    -webkit-transform: scale(0.9973, 0.9973);
    transform: scale(0.9973, 0.9973);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jellyize {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }

  1% {
    -webkit-transform: scale(0.5278, 0.532);
    transform: scale(0.5278, 0.532);
  }

  2% {
    -webkit-transform: scale(0.5605, 0.5764);
    transform: scale(0.5605, 0.5764);
  }

  3% {
    -webkit-transform: scale(0.5971, 0.6306);
    transform: scale(0.5971, 0.6306);
  }

  4% {
    -webkit-transform: scale(0.6367, 0.6917);
    transform: scale(0.6367, 0.6917);
  }

  5% {
    -webkit-transform: scale(0.6783, 0.7572);
    transform: scale(0.6783, 0.7572);
  }

  6% {
    -webkit-transform: scale(0.7211, 0.8245);
    transform: scale(0.7211, 0.8245);
  }

  7% {
    -webkit-transform: scale(0.7642, 0.8911);
    transform: scale(0.7642, 0.8911);
  }

  8% {
    -webkit-transform: scale(0.8071, 0.955);
    transform: scale(0.8071, 0.955);
  }

  9% {
    -webkit-transform: scale(0.8489, 1.014);
    transform: scale(0.8489, 1.014);
  }

  10% {
    -webkit-transform: scale(0.8892, 1.067);
    transform: scale(0.8892, 1.067);
  }

  11% {
    -webkit-transform: scale(0.9274, 1.113);
    transform: scale(0.9274, 1.113);
  }

  12% {
    -webkit-transform: scale(0.9632, 1.151);
    transform: scale(0.9632, 1.151);
  }

  13% {
    -webkit-transform: scale(0.9961, 1.18);
    transform: scale(0.9961, 1.18);
  }

  14% {
    -webkit-transform: scale(1.026, 1.201);
    transform: scale(1.026, 1.201);
  }

  15% {
    -webkit-transform: scale(1.053, 1.213);
    transform: scale(1.053, 1.213);
  }

  16% {
    -webkit-transform: scale(1.076, 1.217);
    transform: scale(1.076, 1.217);
  }

  17% {
    -webkit-transform: scale(1.112, 1.202);
    transform: scale(1.112, 1.202);
  }

  18% {
    -webkit-transform: scale(1.125, 1.186);
    transform: scale(1.125, 1.186);
  }

  19% {
    -webkit-transform: scale(1.135, 1.166);
    transform: scale(1.135, 1.166);
  }

  20% {
    -webkit-transform: scale(1.142, 1.142);
    transform: scale(1.142, 1.142);
  }

  21% {
    -webkit-transform: scale(1.145, 1.115);
    transform: scale(1.145, 1.115);
  }

  22% {
    -webkit-transform: scale(1.146, 1.087);
    transform: scale(1.146, 1.087);
  }

  23% {
    -webkit-transform: scale(1.145, 1.059);
    transform: scale(1.145, 1.059);
  }

  24% {
    -webkit-transform: scale(1.142, 1.032);
    transform: scale(1.142, 1.032);
  }

  25% {
    -webkit-transform: scale(1.136, 1.006);
    transform: scale(1.136, 1.006);
  }

  26% {
    -webkit-transform: scale(1.129, 0.9826);
    transform: scale(1.129, 0.9826);
  }

  27% {
    -webkit-transform: scale(1.121, 0.9619);
    transform: scale(1.121, 0.9619);
  }

  28% {
    -webkit-transform: scale(1.111, 0.9444);
    transform: scale(1.111, 0.9444);
  }

  29% {
    -webkit-transform: scale(1.101, 0.9304);
    transform: scale(1.101, 0.9304);
  }

  30% {
    -webkit-transform: scale(1.089, 0.9201);
    transform: scale(1.089, 0.9201);
  }

  31% {
    -webkit-transform: scale(1.078, 0.9133);
    transform: scale(1.078, 0.9133);
  }

  32% {
    -webkit-transform: scale(1.066, 0.9101);
    transform: scale(1.066, 0.9101);
  }

  33% {
    -webkit-transform: scale(1.055, 0.9101);
    transform: scale(1.055, 0.9101);
  }

  34% {
    -webkit-transform: scale(1.032, 0.9187);
    transform: scale(1.032, 0.9187);
  }

  35% {
    -webkit-transform: scale(1.022, 0.9264);
    transform: scale(1.022, 0.9264);
  }

  36% {
    -webkit-transform: scale(1.012, 0.9358);
    transform: scale(1.012, 0.9358);
  }

  37% {
    -webkit-transform: scale(1.003, 0.9464);
    transform: scale(1.003, 0.9464);
  }

  38% {
    -webkit-transform: scale(0.9949, 0.9578);
    transform: scale(0.9949, 0.9578);
  }

  39% {
    -webkit-transform: scale(0.9876, 0.9695);
    transform: scale(0.9876, 0.9695);
  }

  40% {
    -webkit-transform: scale(0.9811, 0.9811);
    transform: scale(0.9811, 0.9811);
  }

  41% {
    -webkit-transform: scale(0.9755, 0.9922);
    transform: scale(0.9755, 0.9922);
  }

  42% {
    -webkit-transform: scale(0.9709, 1.002);
    transform: scale(0.9709, 1.002);
  }

  43% {
    -webkit-transform: scale(0.9671, 1.012);
    transform: scale(0.9671, 1.012);
  }

  44% {
    -webkit-transform: scale(0.9643, 1.02);
    transform: scale(0.9643, 1.02);
  }

  45% {
    -webkit-transform: scale(0.9623, 1.026);
    transform: scale(0.9623, 1.026);
  }

  46% {
    -webkit-transform: scale(0.9611, 1.031);
    transform: scale(0.9611, 1.031);
  }

  47% {
    -webkit-transform: scale(0.9606, 1.035);
    transform: scale(0.9606, 1.035);
  }

  48% {
    -webkit-transform: scale(0.9608, 1.037);
    transform: scale(0.9608, 1.037);
  }

  49% {
    -webkit-transform: scale(0.9616, 1.038);
    transform: scale(0.9616, 1.038);
  }

  50% {
    -webkit-transform: scale(0.9647, 1.035);
    transform: scale(0.9647, 1.035);
  }

  51% {
    -webkit-transform: scale(0.9669, 1.032);
    transform: scale(0.9669, 1.032);
  }

  52% {
    -webkit-transform: scale(0.9695, 1.029);
    transform: scale(0.9695, 1.029);
  }

  53% {
    -webkit-transform: scale(0.9722, 1.025);
    transform: scale(0.9722, 1.025);
  }

  54% {
    -webkit-transform: scale(0.9752, 1.02);
    transform: scale(0.9752, 1.02);
  }

  55% {
    -webkit-transform: scale(0.9782, 1.015);
    transform: scale(0.9782, 1.015);
  }

  56% {
    -webkit-transform: scale(0.9814, 1.01);
    transform: scale(0.9814, 1.01);
  }

  57% {
    -webkit-transform: scale(0.9845, 1.006);
    transform: scale(0.9845, 1.006);
  }

  58% {
    -webkit-transform: scale(0.9876, 1.001);
    transform: scale(0.9876, 1.001);
  }

  59% {
    -webkit-transform: scale(0.9905, 0.997);
    transform: scale(0.9905, 0.997);
  }

  60% {
    -webkit-transform: scale(0.9934, 0.9934);
    transform: scale(0.9934, 0.9934);
  }

  61% {
    -webkit-transform: scale(0.9961, 0.9903);
    transform: scale(0.9961, 0.9903);
  }

  62% {
    -webkit-transform: scale(0.9986, 0.9879);
    transform: scale(0.9986, 0.9879);
  }

  63% {
    -webkit-transform: scale(1.001, 0.9861);
    transform: scale(1.001, 0.9861);
  }

  64% {
    -webkit-transform: scale(1.003, 0.9849);
    transform: scale(1.003, 0.9849);
  }

  65% {
    -webkit-transform: scale(1.005, 0.9844);
    transform: scale(1.005, 0.9844);
  }

  66% {
    -webkit-transform: scale(1.006, 0.9844);
    transform: scale(1.006, 0.9844);
  }

  67% {
    -webkit-transform: scale(1.009, 0.9859);
    transform: scale(1.009, 0.9859);
  }

  68% {
    -webkit-transform: scale(1.009, 0.9872);
    transform: scale(1.009, 0.9872);
  }

  69% {
    -webkit-transform: scale(1.01, 0.9888);
    transform: scale(1.01, 0.9888);
  }

  70% {
    -webkit-transform: scale(1.01, 0.9907);
    transform: scale(1.01, 0.9907);
  }

  71% {
    -webkit-transform: scale(1.011, 0.9927);
    transform: scale(1.011, 0.9927);
  }

  72% {
    -webkit-transform: scale(1.011, 0.9947);
    transform: scale(1.011, 0.9947);
  }

  73% {
    -webkit-transform: scale(1.01, 0.9967);
    transform: scale(1.01, 0.9967);
  }

  74% {
    -webkit-transform: scale(1.01, 0.9986);
    transform: scale(1.01, 0.9986);
  }

  75% {
    -webkit-transform: scale(1.01, 1);
    transform: scale(1.01, 1);
  }

  76% {
    -webkit-transform: scale(1.009, 1.002);
    transform: scale(1.009, 1.002);
  }

  77% {
    -webkit-transform: scale(1.008, 1.003);
    transform: scale(1.008, 1.003);
  }

  78% {
    -webkit-transform: scale(1.008, 1.005);
    transform: scale(1.008, 1.005);
  }

  79% {
    -webkit-transform: scale(1.007, 1.005);
    transform: scale(1.007, 1.005);
  }

  80% {
    -webkit-transform: scale(1.006, 1.006);
    transform: scale(1.006, 1.006);
  }

  81% {
    -webkit-transform: scale(1.005, 1.006);
    transform: scale(1.005, 1.006);
  }

  82% {
    -webkit-transform: scale(1.004, 1.007);
    transform: scale(1.004, 1.007);
  }

  83% {
    -webkit-transform: scale(1.004, 1.006);
    transform: scale(1.004, 1.006);
  }

  84% {
    -webkit-transform: scale(1.002, 1.006);
    transform: scale(1.002, 1.006);
  }

  85% {
    -webkit-transform: scale(1.001, 1.005);
    transform: scale(1.001, 1.005);
  }

  86% {
    -webkit-transform: scale(1.001, 1.004);
    transform: scale(1.001, 1.004);
  }

  87% {
    -webkit-transform: scale(0.9999, 1.003);
    transform: scale(0.9999, 1.003);
  }

  88% {
    -webkit-transform: scale(0.9994, 1.003);
    transform: scale(0.9994, 1.003);
  }

  89% {
    -webkit-transform: scale(0.9989, 1.002);
    transform: scale(0.9989, 1.002);
  }

  90% {
    -webkit-transform: scale(0.9984, 1.001);
    transform: scale(0.9984, 1.001);
  }

  91% {
    -webkit-transform: scale(0.9981, 1);
    transform: scale(0.9981, 1);
  }

  92% {
    -webkit-transform: scale(0.9977, 0.9995);
    transform: scale(0.9977, 0.9995);
  }

  93% {
    -webkit-transform: scale(0.9975, 0.9988);
    transform: scale(0.9975, 0.9988);
  }

  94% {
    -webkit-transform: scale(0.9973, 0.9983);
    transform: scale(0.9973, 0.9983);
  }

  95% {
    -webkit-transform: scale(0.9972, 0.9979);
    transform: scale(0.9972, 0.9979);
  }

  96% {
    -webkit-transform: scale(0.9972, 0.9976);
    transform: scale(0.9972, 0.9976);
  }

  97% {
    -webkit-transform: scale(0.9971, 0.9974);
    transform: scale(0.9971, 0.9974);
  }

  98% {
    -webkit-transform: scale(0.9972, 0.9973);
    transform: scale(0.9972, 0.9973);
  }

  99% {
    -webkit-transform: scale(0.9973, 0.9973);
    transform: scale(0.9973, 0.9973);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}