<div class="grid-item" light-box>

    <!--<div class="type">{{ ::project.type }}</div>-->

    <div class="tag">
        <div class="title">{{ ::project.name }}</div>
    </div>

    <div class="zoomer">

        <div class="svg-border">
            <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg">
                <rect class="shape" height="100%" width="100%" />
            </svg>
        </div>

        <div class="thumb">
            <img class="img-responsive"
                 ng-src="{{ ::project.thumbUrl }}" />
        </div>

    </div>

    <load-icon></load-icon>

</div>