<!-- DEBUG -->
<div style="display: none;">
    <div class="debug fixed">

        <pre>{{ filterQuery }}</pre>
        <pre>{{ reverse }}</pre>
        <input type="text" ng-model="filterQuery.type">
        <a href="" ng-click="reverse=!reverse">reverse</a>

        <input type="text" ng-model="hiMsg" />
    </div>
</div>

<!-- HEAD BAR -->
<!--
<div class="container">
    <div class="headbar">

        <ul class="nav nav-pills">
            <li class="greet">
                Howdy, stranger!
            </li>

            <li class="contact">
                contact@sabin-tudor.ro
            </li>

        </ul>

    </div>
</div>
-->

<!-- APP LOGO -->
<div class="container">
    <app-logo></app-logo>

    <div class="headline animated fadeInDown">
        <span>MY WORK</span>
    </div>
</div>

<!-- HINT: there's more bro! -->
<!--<infinite-hint-more></infinite-hint-more>-->

<!-- PORTOFOLIO -->
<div class="portofolio animated fadeInUp">

    <!-- MENU -->
    <div class="menu">
        <div class="buttons">
            <label class="item" ng-model="menuModel" btn-radio="'all'">All works<i></i></label>
            <label class="item" ng-model="menuModel" btn-radio="'app'">Apps<i></i></label>
            <label class="item" ng-model="menuModel" btn-radio="'branding'">Branding<i></i></label>
            <label class="item" ng-model="menuModel" btn-radio="'other'">Misc<i></i></label>
            <label class="item" ng-model="menuModel" btn-radio="'wallpaper'">Wallpapers<i></i></label>
        </div><!-- /buttons -->
    </div><!-- /menu -->

    <!-- PORTOFOLIO (IMAGES LIST) -->
    <div class="portofolio-images">
        <div class="grid">

            <!-- INFINITE SCROLLER -->
            <div infinite-scroll='loadMore()' infinite-scroll-distance='0' infinite-scroll-disabled='infiniteDisabled'>

                <!-- GRID ITEM -->
                <grid-item ng-repeat="project in projects | filter:filterQuery"
                           class="animateGridItem"

                           id="project_{{ ::$index }}"
                           project="projects[$index]">

                </grid-item>

            </div>

        </div><!-- /grid -->
    </div><!-- /portofolio-images -->
</div>