<div class="debug fixed">
    <pre>{{ debug }}</pre>
    wtf bro
</div>

<div class="container">
    <app-logo></app-logo>
</div>

<div class="container-fluid show-grid">
    content here

    <div class="row">
        <div class="col-xs-8">.col-xs-8</div>
        <div class="col-xs-4">.col-xs-4</div>
    </div>
    <div class="row">
        <div class="col-xs-4">.col-xs-4</div>
        <div class="col-xs-4">.col-xs-4</div>
        <div class="col-xs-4">.col-xs-4</div>
    </div>
    <div class="row">
        <div class="col-xs-6">.col-xs-6</div>
        <div class="col-xs-6">.col-xs-6</div>
    </div>
</div>