<div class="lightbox" style="background: #1BBA9A;" controller="lightboxCtrl">
    <span class="fa fa-close close zen-modal-close" ng-click="closeThisDialog('some val')"></span>

    {{ project | json }}

    DASLKDKASKLDJASDKASKJLDLKJAS

    <div class="col-xs-12">
        <!--<div class="row">-->
            <!--<span class="fa fa-close close"></span>-->
            <!--<span class="fa fa-close" ng-click="closeThisDialog('some val')"></span>-->
        <!--</div>-->
        <div class="row">
            <img class="img-responsive" ng-src="{{ project.thumbUrl }}" />
        </div>
    </div>


</div>

        <!--wtf bro here gogogogo-->
<!--<span class="fa fa-close close zen-modal-close" ng-click="closeThisDialog('some val')"></span>-->
<!--<img class="img-responsive" ng-src="{{ project.thumbUrl }}" />-->