@import url(/lib/css/ionic/1.0.0/ionic.css);
/* line 93, ../../app/scss/_mixins.scss */
.sepa {
  width: 90%;
  height: 1px;
  margin: 0px auto;
  border-top: 1px dashed #ecf0f1;
}

/* line 94, ../../app/scss/_mixins.scss */
.noselect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 97, ../../app/scss/_mixins.scss */
.noflicker, .doJelly {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 101, ../../app/scss/_mixins.scss */
.translateCenter, .loader, .msg, #squiggle {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 109, ../../app/scss/_mixins.scss */
.positionCenter {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 144, ../../app/scss/_mixins.scss */
.pause-anim {
  -moz-animation-play-state: paused !important;
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}

/* line 7, ../../app/scss/_global.scss */
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 13, ../../app/scss/_global.scss */
html, body {
  height: 100%;
}

/* line 14, ../../app/scss/_global.scss */
html {
  font-size: 62.5%;
}

/* line 16, ../../app/scss/_global.scss */
body {
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
}

/* line 20, ../../app/scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

/* line 21, ../../app/scss/_global.scss */
h1 {
  font-size: 30px;
  font-size: 3.0rem;
}

/* line 22, ../../app/scss/_global.scss */
h2 {
  font-size: 25px;
  font-size: 2.5rem;
}

/* line 23, ../../app/scss/_global.scss */
h3 {
  font-size: 22px;
  font-size: 2.2rem;
}

/* line 24, ../../app/scss/_global.scss */
h4 {
  font-size: 15px;
  font-size: 1.5rem;
}

/* line 26, ../../app/scss/_global.scss */
input, button, select, textarea {
  font-family: inherit;
}

/* line 29, ../../app/scss/_global.scss */
.table-cell {
  display: table-cell;
  margin: 0 auto;
  vertical-align: middle;
}

/* line 34, ../../app/scss/_global.scss */
* {
  -webkit-user-select: none;
  /* Disable selection/copy of elements when tapping for a long time */
  -webkit-touch-callout: none;
  /* Disable touch callouts */
}

/* line 41, ../../app/scss/_global.scss */
input, textarea, [contenteditable] * {
  -webkit-user-select: auto;
  /* Allow selection for input elements and those with contenteditable attribute */
}

@-webkit-keyframes pop-in {
  0% {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  33% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  66% {
    -moz-transform: scale(0.975);
    -webkit-transform: scale(0.975);
    transform: scale(0.975);
  }
  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pop-in {
  0% {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  33% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  66% {
    -moz-transform: scale(0.975);
    -webkit-transform: scale(0.975);
    transform: scale(0.975);
  }
  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-ms-keyframes pop-in {
  0% {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  33% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  66% {
    -moz-transform: scale(0.975);
    -webkit-transform: scale(0.975);
    transform: scale(0.975);
  }
  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pop-in {
  0% {
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  33% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
  66% {
    -moz-transform: scale(0.975);
    -webkit-transform: scale(0.975);
    transform: scale(0.975);
  }
  100% {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes svg_dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes svg_dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes svg_dash {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes svg_dash {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes svg_outline {
  100% {
    stroke-dashoffset: 0;
  }
}
@-moz-keyframes svg_outline {
  100% {
    stroke-dashoffset: 0;
  }
}
@-ms-keyframes svg_outline {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes svg_outline {
  100% {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes svg_outline_hide {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@-moz-keyframes svg_outline_hide {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@-ms-keyframes svg_outline_hide {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@keyframes svg_outline_hide {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 0;
  }
}
@-webkit-keyframes svg_fill_active {
  100% {
    fill: #e25027;
    fill-opacity: 1;
  }
}
@-moz-keyframes svg_fill_active {
  100% {
    fill: #e25027;
    fill-opacity: 1;
  }
}
@-ms-keyframes svg_fill_active {
  100% {
    fill: #e25027;
    fill-opacity: 1;
  }
}
@keyframes svg_fill_active {
  100% {
    fill: #e25027;
    fill-opacity: 1;
  }
}
@-webkit-keyframes svg_fill_inactive {
  100% {
    fill: #ebebeb;
    fill-opacity: 1;
  }
}
@-moz-keyframes svg_fill_inactive {
  100% {
    fill: #ebebeb;
    fill-opacity: 1;
  }
}
@-ms-keyframes svg_fill_inactive {
  100% {
    fill: #ebebeb;
    fill-opacity: 1;
  }
}
@keyframes svg_fill_inactive {
  100% {
    fill: #ebebeb;
    fill-opacity: 1;
  }
}
@-webkit-keyframes svg_stroke_inactive {
  100% {
    stroke: #ebebeb;
  }
}
@-moz-keyframes svg_stroke_inactive {
  100% {
    stroke: #ebebeb;
  }
}
@-ms-keyframes svg_stroke_inactive {
  100% {
    stroke: #ebebeb;
  }
}
@keyframes svg_stroke_inactive {
  100% {
    stroke: #ebebeb;
  }
}
@-webkit-keyframes svg_stroke_active {
  100% {
    stroke: #e25027;
  }
}
@-moz-keyframes svg_stroke_active {
  100% {
    stroke: #e25027;
  }
}
@-ms-keyframes svg_stroke_active {
  100% {
    stroke: #e25027;
  }
}
@keyframes svg_stroke_active {
  100% {
    stroke: #e25027;
  }
}
@-webkit-keyframes jellyize {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  1% {
    -webkit-transform: scale(0.5278, 0.532);
    transform: scale(0.5278, 0.532);
  }
  2% {
    -webkit-transform: scale(0.5605, 0.5764);
    transform: scale(0.5605, 0.5764);
  }
  3% {
    -webkit-transform: scale(0.5971, 0.6306);
    transform: scale(0.5971, 0.6306);
  }
  4% {
    -webkit-transform: scale(0.6367, 0.6917);
    transform: scale(0.6367, 0.6917);
  }
  5% {
    -webkit-transform: scale(0.6783, 0.7572);
    transform: scale(0.6783, 0.7572);
  }
  6% {
    -webkit-transform: scale(0.7211, 0.8245);
    transform: scale(0.7211, 0.8245);
  }
  7% {
    -webkit-transform: scale(0.7642, 0.8911);
    transform: scale(0.7642, 0.8911);
  }
  8% {
    -webkit-transform: scale(0.8071, 0.955);
    transform: scale(0.8071, 0.955);
  }
  9% {
    -webkit-transform: scale(0.8489, 1.014);
    transform: scale(0.8489, 1.014);
  }
  10% {
    -webkit-transform: scale(0.8892, 1.067);
    transform: scale(0.8892, 1.067);
  }
  11% {
    -webkit-transform: scale(0.9274, 1.113);
    transform: scale(0.9274, 1.113);
  }
  12% {
    -webkit-transform: scale(0.9632, 1.151);
    transform: scale(0.9632, 1.151);
  }
  13% {
    -webkit-transform: scale(0.9961, 1.18);
    transform: scale(0.9961, 1.18);
  }
  14% {
    -webkit-transform: scale(1.026, 1.201);
    transform: scale(1.026, 1.201);
  }
  15% {
    -webkit-transform: scale(1.053, 1.213);
    transform: scale(1.053, 1.213);
  }
  16% {
    -webkit-transform: scale(1.076, 1.217);
    transform: scale(1.076, 1.217);
  }
  17% {
    -webkit-transform: scale(1.112, 1.202);
    transform: scale(1.112, 1.202);
  }
  18% {
    -webkit-transform: scale(1.125, 1.186);
    transform: scale(1.125, 1.186);
  }
  19% {
    -webkit-transform: scale(1.135, 1.166);
    transform: scale(1.135, 1.166);
  }
  20% {
    -webkit-transform: scale(1.142, 1.142);
    transform: scale(1.142, 1.142);
  }
  21% {
    -webkit-transform: scale(1.145, 1.115);
    transform: scale(1.145, 1.115);
  }
  22% {
    -webkit-transform: scale(1.146, 1.087);
    transform: scale(1.146, 1.087);
  }
  23% {
    -webkit-transform: scale(1.145, 1.059);
    transform: scale(1.145, 1.059);
  }
  24% {
    -webkit-transform: scale(1.142, 1.032);
    transform: scale(1.142, 1.032);
  }
  25% {
    -webkit-transform: scale(1.136, 1.006);
    transform: scale(1.136, 1.006);
  }
  26% {
    -webkit-transform: scale(1.129, 0.9826);
    transform: scale(1.129, 0.9826);
  }
  27% {
    -webkit-transform: scale(1.121, 0.9619);
    transform: scale(1.121, 0.9619);
  }
  28% {
    -webkit-transform: scale(1.111, 0.9444);
    transform: scale(1.111, 0.9444);
  }
  29% {
    -webkit-transform: scale(1.101, 0.9304);
    transform: scale(1.101, 0.9304);
  }
  30% {
    -webkit-transform: scale(1.089, 0.9201);
    transform: scale(1.089, 0.9201);
  }
  31% {
    -webkit-transform: scale(1.078, 0.9133);
    transform: scale(1.078, 0.9133);
  }
  32% {
    -webkit-transform: scale(1.066, 0.9101);
    transform: scale(1.066, 0.9101);
  }
  33% {
    -webkit-transform: scale(1.055, 0.9101);
    transform: scale(1.055, 0.9101);
  }
  34% {
    -webkit-transform: scale(1.032, 0.9187);
    transform: scale(1.032, 0.9187);
  }
  35% {
    -webkit-transform: scale(1.022, 0.9264);
    transform: scale(1.022, 0.9264);
  }
  36% {
    -webkit-transform: scale(1.012, 0.9358);
    transform: scale(1.012, 0.9358);
  }
  37% {
    -webkit-transform: scale(1.003, 0.9464);
    transform: scale(1.003, 0.9464);
  }
  38% {
    -webkit-transform: scale(0.9949, 0.9578);
    transform: scale(0.9949, 0.9578);
  }
  39% {
    -webkit-transform: scale(0.9876, 0.9695);
    transform: scale(0.9876, 0.9695);
  }
  40% {
    -webkit-transform: scale(0.9811, 0.9811);
    transform: scale(0.9811, 0.9811);
  }
  41% {
    -webkit-transform: scale(0.9755, 0.9922);
    transform: scale(0.9755, 0.9922);
  }
  42% {
    -webkit-transform: scale(0.9709, 1.002);
    transform: scale(0.9709, 1.002);
  }
  43% {
    -webkit-transform: scale(0.9671, 1.012);
    transform: scale(0.9671, 1.012);
  }
  44% {
    -webkit-transform: scale(0.9643, 1.02);
    transform: scale(0.9643, 1.02);
  }
  45% {
    -webkit-transform: scale(0.9623, 1.026);
    transform: scale(0.9623, 1.026);
  }
  46% {
    -webkit-transform: scale(0.9611, 1.031);
    transform: scale(0.9611, 1.031);
  }
  47% {
    -webkit-transform: scale(0.9606, 1.035);
    transform: scale(0.9606, 1.035);
  }
  48% {
    -webkit-transform: scale(0.9608, 1.037);
    transform: scale(0.9608, 1.037);
  }
  49% {
    -webkit-transform: scale(0.9616, 1.038);
    transform: scale(0.9616, 1.038);
  }
  50% {
    -webkit-transform: scale(0.9647, 1.035);
    transform: scale(0.9647, 1.035);
  }
  51% {
    -webkit-transform: scale(0.9669, 1.032);
    transform: scale(0.9669, 1.032);
  }
  52% {
    -webkit-transform: scale(0.9695, 1.029);
    transform: scale(0.9695, 1.029);
  }
  53% {
    -webkit-transform: scale(0.9722, 1.025);
    transform: scale(0.9722, 1.025);
  }
  54% {
    -webkit-transform: scale(0.9752, 1.02);
    transform: scale(0.9752, 1.02);
  }
  55% {
    -webkit-transform: scale(0.9782, 1.015);
    transform: scale(0.9782, 1.015);
  }
  56% {
    -webkit-transform: scale(0.9814, 1.01);
    transform: scale(0.9814, 1.01);
  }
  57% {
    -webkit-transform: scale(0.9845, 1.006);
    transform: scale(0.9845, 1.006);
  }
  58% {
    -webkit-transform: scale(0.9876, 1.001);
    transform: scale(0.9876, 1.001);
  }
  59% {
    -webkit-transform: scale(0.9905, 0.997);
    transform: scale(0.9905, 0.997);
  }
  60% {
    -webkit-transform: scale(0.9934, 0.9934);
    transform: scale(0.9934, 0.9934);
  }
  61% {
    -webkit-transform: scale(0.9961, 0.9903);
    transform: scale(0.9961, 0.9903);
  }
  62% {
    -webkit-transform: scale(0.9986, 0.9879);
    transform: scale(0.9986, 0.9879);
  }
  63% {
    -webkit-transform: scale(1.001, 0.9861);
    transform: scale(1.001, 0.9861);
  }
  64% {
    -webkit-transform: scale(1.003, 0.9849);
    transform: scale(1.003, 0.9849);
  }
  65% {
    -webkit-transform: scale(1.005, 0.9844);
    transform: scale(1.005, 0.9844);
  }
  66% {
    -webkit-transform: scale(1.006, 0.9844);
    transform: scale(1.006, 0.9844);
  }
  67% {
    -webkit-transform: scale(1.009, 0.9859);
    transform: scale(1.009, 0.9859);
  }
  68% {
    -webkit-transform: scale(1.009, 0.9872);
    transform: scale(1.009, 0.9872);
  }
  69% {
    -webkit-transform: scale(1.01, 0.9888);
    transform: scale(1.01, 0.9888);
  }
  70% {
    -webkit-transform: scale(1.01, 0.9907);
    transform: scale(1.01, 0.9907);
  }
  71% {
    -webkit-transform: scale(1.011, 0.9927);
    transform: scale(1.011, 0.9927);
  }
  72% {
    -webkit-transform: scale(1.011, 0.9947);
    transform: scale(1.011, 0.9947);
  }
  73% {
    -webkit-transform: scale(1.01, 0.9967);
    transform: scale(1.01, 0.9967);
  }
  74% {
    -webkit-transform: scale(1.01, 0.9986);
    transform: scale(1.01, 0.9986);
  }
  75% {
    -webkit-transform: scale(1.01, 1);
    transform: scale(1.01, 1);
  }
  76% {
    -webkit-transform: scale(1.009, 1.002);
    transform: scale(1.009, 1.002);
  }
  77% {
    -webkit-transform: scale(1.008, 1.003);
    transform: scale(1.008, 1.003);
  }
  78% {
    -webkit-transform: scale(1.008, 1.005);
    transform: scale(1.008, 1.005);
  }
  79% {
    -webkit-transform: scale(1.007, 1.005);
    transform: scale(1.007, 1.005);
  }
  80% {
    -webkit-transform: scale(1.006, 1.006);
    transform: scale(1.006, 1.006);
  }
  81% {
    -webkit-transform: scale(1.005, 1.006);
    transform: scale(1.005, 1.006);
  }
  82% {
    -webkit-transform: scale(1.004, 1.007);
    transform: scale(1.004, 1.007);
  }
  83% {
    -webkit-transform: scale(1.004, 1.006);
    transform: scale(1.004, 1.006);
  }
  84% {
    -webkit-transform: scale(1.002, 1.006);
    transform: scale(1.002, 1.006);
  }
  85% {
    -webkit-transform: scale(1.001, 1.005);
    transform: scale(1.001, 1.005);
  }
  86% {
    -webkit-transform: scale(1.001, 1.004);
    transform: scale(1.001, 1.004);
  }
  87% {
    -webkit-transform: scale(0.9999, 1.003);
    transform: scale(0.9999, 1.003);
  }
  88% {
    -webkit-transform: scale(0.9994, 1.003);
    transform: scale(0.9994, 1.003);
  }
  89% {
    -webkit-transform: scale(0.9989, 1.002);
    transform: scale(0.9989, 1.002);
  }
  90% {
    -webkit-transform: scale(0.9984, 1.001);
    transform: scale(0.9984, 1.001);
  }
  91% {
    -webkit-transform: scale(0.9981, 1);
    transform: scale(0.9981, 1);
  }
  92% {
    -webkit-transform: scale(0.9977, 0.9995);
    transform: scale(0.9977, 0.9995);
  }
  93% {
    -webkit-transform: scale(0.9975, 0.9988);
    transform: scale(0.9975, 0.9988);
  }
  94% {
    -webkit-transform: scale(0.9973, 0.9983);
    transform: scale(0.9973, 0.9983);
  }
  95% {
    -webkit-transform: scale(0.9972, 0.9979);
    transform: scale(0.9972, 0.9979);
  }
  96% {
    -webkit-transform: scale(0.9972, 0.9976);
    transform: scale(0.9972, 0.9976);
  }
  97% {
    -webkit-transform: scale(0.9971, 0.9974);
    transform: scale(0.9971, 0.9974);
  }
  98% {
    -webkit-transform: scale(0.9972, 0.9973);
    transform: scale(0.9972, 0.9973);
  }
  99% {
    -webkit-transform: scale(0.9973, 0.9973);
    transform: scale(0.9973, 0.9973);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes jellyize {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
  }
  1% {
    -webkit-transform: scale(0.5278, 0.532);
    transform: scale(0.5278, 0.532);
  }
  2% {
    -webkit-transform: scale(0.5605, 0.5764);
    transform: scale(0.5605, 0.5764);
  }
  3% {
    -webkit-transform: scale(0.5971, 0.6306);
    transform: scale(0.5971, 0.6306);
  }
  4% {
    -webkit-transform: scale(0.6367, 0.6917);
    transform: scale(0.6367, 0.6917);
  }
  5% {
    -webkit-transform: scale(0.6783, 0.7572);
    transform: scale(0.6783, 0.7572);
  }
  6% {
    -webkit-transform: scale(0.7211, 0.8245);
    transform: scale(0.7211, 0.8245);
  }
  7% {
    -webkit-transform: scale(0.7642, 0.8911);
    transform: scale(0.7642, 0.8911);
  }
  8% {
    -webkit-transform: scale(0.8071, 0.955);
    transform: scale(0.8071, 0.955);
  }
  9% {
    -webkit-transform: scale(0.8489, 1.014);
    transform: scale(0.8489, 1.014);
  }
  10% {
    -webkit-transform: scale(0.8892, 1.067);
    transform: scale(0.8892, 1.067);
  }
  11% {
    -webkit-transform: scale(0.9274, 1.113);
    transform: scale(0.9274, 1.113);
  }
  12% {
    -webkit-transform: scale(0.9632, 1.151);
    transform: scale(0.9632, 1.151);
  }
  13% {
    -webkit-transform: scale(0.9961, 1.18);
    transform: scale(0.9961, 1.18);
  }
  14% {
    -webkit-transform: scale(1.026, 1.201);
    transform: scale(1.026, 1.201);
  }
  15% {
    -webkit-transform: scale(1.053, 1.213);
    transform: scale(1.053, 1.213);
  }
  16% {
    -webkit-transform: scale(1.076, 1.217);
    transform: scale(1.076, 1.217);
  }
  17% {
    -webkit-transform: scale(1.112, 1.202);
    transform: scale(1.112, 1.202);
  }
  18% {
    -webkit-transform: scale(1.125, 1.186);
    transform: scale(1.125, 1.186);
  }
  19% {
    -webkit-transform: scale(1.135, 1.166);
    transform: scale(1.135, 1.166);
  }
  20% {
    -webkit-transform: scale(1.142, 1.142);
    transform: scale(1.142, 1.142);
  }
  21% {
    -webkit-transform: scale(1.145, 1.115);
    transform: scale(1.145, 1.115);
  }
  22% {
    -webkit-transform: scale(1.146, 1.087);
    transform: scale(1.146, 1.087);
  }
  23% {
    -webkit-transform: scale(1.145, 1.059);
    transform: scale(1.145, 1.059);
  }
  24% {
    -webkit-transform: scale(1.142, 1.032);
    transform: scale(1.142, 1.032);
  }
  25% {
    -webkit-transform: scale(1.136, 1.006);
    transform: scale(1.136, 1.006);
  }
  26% {
    -webkit-transform: scale(1.129, 0.9826);
    transform: scale(1.129, 0.9826);
  }
  27% {
    -webkit-transform: scale(1.121, 0.9619);
    transform: scale(1.121, 0.9619);
  }
  28% {
    -webkit-transform: scale(1.111, 0.9444);
    transform: scale(1.111, 0.9444);
  }
  29% {
    -webkit-transform: scale(1.101, 0.9304);
    transform: scale(1.101, 0.9304);
  }
  30% {
    -webkit-transform: scale(1.089, 0.9201);
    transform: scale(1.089, 0.9201);
  }
  31% {
    -webkit-transform: scale(1.078, 0.9133);
    transform: scale(1.078, 0.9133);
  }
  32% {
    -webkit-transform: scale(1.066, 0.9101);
    transform: scale(1.066, 0.9101);
  }
  33% {
    -webkit-transform: scale(1.055, 0.9101);
    transform: scale(1.055, 0.9101);
  }
  34% {
    -webkit-transform: scale(1.032, 0.9187);
    transform: scale(1.032, 0.9187);
  }
  35% {
    -webkit-transform: scale(1.022, 0.9264);
    transform: scale(1.022, 0.9264);
  }
  36% {
    -webkit-transform: scale(1.012, 0.9358);
    transform: scale(1.012, 0.9358);
  }
  37% {
    -webkit-transform: scale(1.003, 0.9464);
    transform: scale(1.003, 0.9464);
  }
  38% {
    -webkit-transform: scale(0.9949, 0.9578);
    transform: scale(0.9949, 0.9578);
  }
  39% {
    -webkit-transform: scale(0.9876, 0.9695);
    transform: scale(0.9876, 0.9695);
  }
  40% {
    -webkit-transform: scale(0.9811, 0.9811);
    transform: scale(0.9811, 0.9811);
  }
  41% {
    -webkit-transform: scale(0.9755, 0.9922);
    transform: scale(0.9755, 0.9922);
  }
  42% {
    -webkit-transform: scale(0.9709, 1.002);
    transform: scale(0.9709, 1.002);
  }
  43% {
    -webkit-transform: scale(0.9671, 1.012);
    transform: scale(0.9671, 1.012);
  }
  44% {
    -webkit-transform: scale(0.9643, 1.02);
    transform: scale(0.9643, 1.02);
  }
  45% {
    -webkit-transform: scale(0.9623, 1.026);
    transform: scale(0.9623, 1.026);
  }
  46% {
    -webkit-transform: scale(0.9611, 1.031);
    transform: scale(0.9611, 1.031);
  }
  47% {
    -webkit-transform: scale(0.9606, 1.035);
    transform: scale(0.9606, 1.035);
  }
  48% {
    -webkit-transform: scale(0.9608, 1.037);
    transform: scale(0.9608, 1.037);
  }
  49% {
    -webkit-transform: scale(0.9616, 1.038);
    transform: scale(0.9616, 1.038);
  }
  50% {
    -webkit-transform: scale(0.9647, 1.035);
    transform: scale(0.9647, 1.035);
  }
  51% {
    -webkit-transform: scale(0.9669, 1.032);
    transform: scale(0.9669, 1.032);
  }
  52% {
    -webkit-transform: scale(0.9695, 1.029);
    transform: scale(0.9695, 1.029);
  }
  53% {
    -webkit-transform: scale(0.9722, 1.025);
    transform: scale(0.9722, 1.025);
  }
  54% {
    -webkit-transform: scale(0.9752, 1.02);
    transform: scale(0.9752, 1.02);
  }
  55% {
    -webkit-transform: scale(0.9782, 1.015);
    transform: scale(0.9782, 1.015);
  }
  56% {
    -webkit-transform: scale(0.9814, 1.01);
    transform: scale(0.9814, 1.01);
  }
  57% {
    -webkit-transform: scale(0.9845, 1.006);
    transform: scale(0.9845, 1.006);
  }
  58% {
    -webkit-transform: scale(0.9876, 1.001);
    transform: scale(0.9876, 1.001);
  }
  59% {
    -webkit-transform: scale(0.9905, 0.997);
    transform: scale(0.9905, 0.997);
  }
  60% {
    -webkit-transform: scale(0.9934, 0.9934);
    transform: scale(0.9934, 0.9934);
  }
  61% {
    -webkit-transform: scale(0.9961, 0.9903);
    transform: scale(0.9961, 0.9903);
  }
  62% {
    -webkit-transform: scale(0.9986, 0.9879);
    transform: scale(0.9986, 0.9879);
  }
  63% {
    -webkit-transform: scale(1.001, 0.9861);
    transform: scale(1.001, 0.9861);
  }
  64% {
    -webkit-transform: scale(1.003, 0.9849);
    transform: scale(1.003, 0.9849);
  }
  65% {
    -webkit-transform: scale(1.005, 0.9844);
    transform: scale(1.005, 0.9844);
  }
  66% {
    -webkit-transform: scale(1.006, 0.9844);
    transform: scale(1.006, 0.9844);
  }
  67% {
    -webkit-transform: scale(1.009, 0.9859);
    transform: scale(1.009, 0.9859);
  }
  68% {
    -webkit-transform: scale(1.009, 0.9872);
    transform: scale(1.009, 0.9872);
  }
  69% {
    -webkit-transform: scale(1.01, 0.9888);
    transform: scale(1.01, 0.9888);
  }
  70% {
    -webkit-transform: scale(1.01, 0.9907);
    transform: scale(1.01, 0.9907);
  }
  71% {
    -webkit-transform: scale(1.011, 0.9927);
    transform: scale(1.011, 0.9927);
  }
  72% {
    -webkit-transform: scale(1.011, 0.9947);
    transform: scale(1.011, 0.9947);
  }
  73% {
    -webkit-transform: scale(1.01, 0.9967);
    transform: scale(1.01, 0.9967);
  }
  74% {
    -webkit-transform: scale(1.01, 0.9986);
    transform: scale(1.01, 0.9986);
  }
  75% {
    -webkit-transform: scale(1.01, 1);
    transform: scale(1.01, 1);
  }
  76% {
    -webkit-transform: scale(1.009, 1.002);
    transform: scale(1.009, 1.002);
  }
  77% {
    -webkit-transform: scale(1.008, 1.003);
    transform: scale(1.008, 1.003);
  }
  78% {
    -webkit-transform: scale(1.008, 1.005);
    transform: scale(1.008, 1.005);
  }
  79% {
    -webkit-transform: scale(1.007, 1.005);
    transform: scale(1.007, 1.005);
  }
  80% {
    -webkit-transform: scale(1.006, 1.006);
    transform: scale(1.006, 1.006);
  }
  81% {
    -webkit-transform: scale(1.005, 1.006);
    transform: scale(1.005, 1.006);
  }
  82% {
    -webkit-transform: scale(1.004, 1.007);
    transform: scale(1.004, 1.007);
  }
  83% {
    -webkit-transform: scale(1.004, 1.006);
    transform: scale(1.004, 1.006);
  }
  84% {
    -webkit-transform: scale(1.002, 1.006);
    transform: scale(1.002, 1.006);
  }
  85% {
    -webkit-transform: scale(1.001, 1.005);
    transform: scale(1.001, 1.005);
  }
  86% {
    -webkit-transform: scale(1.001, 1.004);
    transform: scale(1.001, 1.004);
  }
  87% {
    -webkit-transform: scale(0.9999, 1.003);
    transform: scale(0.9999, 1.003);
  }
  88% {
    -webkit-transform: scale(0.9994, 1.003);
    transform: scale(0.9994, 1.003);
  }
  89% {
    -webkit-transform: scale(0.9989, 1.002);
    transform: scale(0.9989, 1.002);
  }
  90% {
    -webkit-transform: scale(0.9984, 1.001);
    transform: scale(0.9984, 1.001);
  }
  91% {
    -webkit-transform: scale(0.9981, 1);
    transform: scale(0.9981, 1);
  }
  92% {
    -webkit-transform: scale(0.9977, 0.9995);
    transform: scale(0.9977, 0.9995);
  }
  93% {
    -webkit-transform: scale(0.9975, 0.9988);
    transform: scale(0.9975, 0.9988);
  }
  94% {
    -webkit-transform: scale(0.9973, 0.9983);
    transform: scale(0.9973, 0.9983);
  }
  95% {
    -webkit-transform: scale(0.9972, 0.9979);
    transform: scale(0.9972, 0.9979);
  }
  96% {
    -webkit-transform: scale(0.9972, 0.9976);
    transform: scale(0.9972, 0.9976);
  }
  97% {
    -webkit-transform: scale(0.9971, 0.9974);
    transform: scale(0.9971, 0.9974);
  }
  98% {
    -webkit-transform: scale(0.9972, 0.9973);
    transform: scale(0.9972, 0.9973);
  }
  99% {
    -webkit-transform: scale(0.9973, 0.9973);
    transform: scale(0.9973, 0.9973);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* line 35, ../../app/scss/loading.scss */
.loader {
  max-width: 100%;
  animation-duration: 0.7s !important;
  -webkit-animation-duration: 0.7s !important;
  -moz-animation-duration: 0.7s !important;
  -ms-animation-duration: 0.7s !important;
  -o-animation-duration: 0.7s !important;
}

/* line 43, ../../app/scss/loading.scss */
.msg {
  /* width:100%; height:100%; */
  text-align: center;
  /* position: absolute; */
}
/* line 51, ../../app/scss/loading.scss */
.msg i {
  color: #fff;
  font-size: 40px;
  font-size: 4rem;
  line-height: 1.5;
}

/* line 58, ../../app/scss/loading.scss */
#squiggle {
  width: 100px;
  height: 100px;
  border-radius: 40%;
  overflow: hidden;
  animation-name: bgcolor;
  -webkit-animation-name: bgcolor;
  -moz-animation-name: bgcolor;
  -ms-animation-name: bgcolor;
  -o-animation-name: bgcolor;
  animation-duration: 8s;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  -o-animation-duration: 8s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  font-size: 0;
  /* (FIX) remove horizontal spacing */
  line-height: 0;
  /* (FIX) and vertical */
  letter-spacing: -1px;
  /* (FIX) force webkit */
  display: -moz-inline-stack !important;
  /* (FIX) */
}

@-webkit-keyframes bgcolor {
  0% {
    background: #2ECC71;
  }
  20% {
    background: #3498DB;
  }
  40% {
    background: #E74C3C;
  }
  60% {
    background: #9B59B6;
  }
  80% {
    background: #F39C12;
  }
  100% {
    background: #27AE60;
  }
}
@-moz-keyframes bgcolor {
  0% {
    background: #2ECC71;
  }
  20% {
    background: #3498DB;
  }
  40% {
    background: #E74C3C;
  }
  60% {
    background: #9B59B6;
  }
  80% {
    background: #F39C12;
  }
  100% {
    background: #27AE60;
  }
}
@-ms-keyframes bgcolor {
  0% {
    background: #2ECC71;
  }
  20% {
    background: #3498DB;
  }
  40% {
    background: #E74C3C;
  }
  60% {
    background: #9B59B6;
  }
  80% {
    background: #F39C12;
  }
  100% {
    background: #27AE60;
  }
}
@keyframes bgcolor {
  0% {
    background: #2ECC71;
  }
  20% {
    background: #3498DB;
  }
  40% {
    background: #E74C3C;
  }
  60% {
    background: #9B59B6;
  }
  80% {
    background: #F39C12;
  }
  100% {
    background: #27AE60;
  }
}
/* line 89, ../../app/scss/loading.scss */
.contort {
  animation-name: contort;
  -webkit-animation-name: contort;
  -moz-animation-name: contort;
  -ms-animation-name: contort;
  -o-animation-name: contort;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

@-webkit-keyframes contort {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 0;
  }
  50% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 50%;
    background: #c0392b;
  }
  100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-radius: 0;
  }
}
@-moz-keyframes contort {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 0;
  }
  50% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 50%;
    background: #c0392b;
  }
  100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-radius: 0;
  }
}
@-ms-keyframes contort {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 0;
  }
  50% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 50%;
    background: #c0392b;
  }
  100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-radius: 0;
  }
}
@keyframes contort {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-radius: 0;
  }
  50% {
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-radius: 50%;
    background: #c0392b;
  }
  100% {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-radius: 0;
  }
}
/* line 112, ../../app/scss/loading.scss */
.doJelly {
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  animation-name: jellyize;
  -webkit-animation-name: jellyize;
  -moz-animation-name: jellyize;
  -ms-animation-name: jellyize;
  -o-animation-name: jellyize;
  animation-duration: 0.8s;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  -ms-animation-duration: 0.8s;
  -o-animation-duration: 0.8s;
}

/* line 121, ../../app/scss/loading.scss */
#squiggle span {
  width: 25%;
  height: 25%;
  display: inline-block;
  animation-name: boxfirst;
  -webkit-animation-name: boxfirst;
  -moz-animation-name: boxfirst;
  -ms-animation-name: boxfirst;
  -o-animation-name: boxfirst;
  animation-duration: 0.55s;
  -webkit-animation-duration: 0.55s;
  -moz-animation-duration: 0.55s;
  -ms-animation-duration: 0.55s;
  -o-animation-duration: 0.55s;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

@-webkit-keyframes boxfirst {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@-moz-keyframes boxfirst {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@-ms-keyframes boxfirst {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@keyframes boxfirst {
  0% {
    background-color: rgba(0, 0, 0, 0.2);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
/* line 142, ../../app/scss/loading.scss */
#squiggle span.box-1 {
  animation-delay: -0.55s;
  -webkit-animation-delay: -0.55s;
  -moz-animation-delay: -0.55s;
  -ms-animation-delay: -0.55s;
  -o-animation-delay: -0.55s;
}

/* line 143, ../../app/scss/loading.scss */
#squiggle span.box-2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
  -ms-animation-delay: -0.5s;
  -o-animation-delay: -0.5s;
}

/* line 144, ../../app/scss/loading.scss */
#squiggle span.box-3 {
  animation-delay: -0.45s;
  -webkit-animation-delay: -0.45s;
  -moz-animation-delay: -0.45s;
  -ms-animation-delay: -0.45s;
  -o-animation-delay: -0.45s;
}

/* line 145, ../../app/scss/loading.scss */
#squiggle span.box-4 {
  animation-delay: -0.4s;
  -webkit-animation-delay: -0.4s;
  -moz-animation-delay: -0.4s;
  -ms-animation-delay: -0.4s;
  -o-animation-delay: -0.4s;
}

/* line 146, ../../app/scss/loading.scss */
#squiggle span.box-8 {
  animation-delay: -0.35s;
  -webkit-animation-delay: -0.35s;
  -moz-animation-delay: -0.35s;
  -ms-animation-delay: -0.35s;
  -o-animation-delay: -0.35s;
}

/* line 147, ../../app/scss/loading.scss */
#squiggle span.box-12 {
  animation-delay: -0.3s;
  -webkit-animation-delay: -0.3s;
  -moz-animation-delay: -0.3s;
  -ms-animation-delay: -0.3s;
  -o-animation-delay: -0.3s;
}

/* line 148, ../../app/scss/loading.scss */
#squiggle span.box-16 {
  animation-delay: -0.25s;
  -webkit-animation-delay: -0.25s;
  -moz-animation-delay: -0.25s;
  -ms-animation-delay: -0.25s;
  -o-animation-delay: -0.25s;
}

/* line 149, ../../app/scss/loading.scss */
#squiggle span.box-15 {
  animation-delay: -0.2s;
  -webkit-animation-delay: -0.2s;
  -moz-animation-delay: -0.2s;
  -ms-animation-delay: -0.2s;
  -o-animation-delay: -0.2s;
}

/* line 150, ../../app/scss/loading.scss */
#squiggle span.box-14 {
  animation-delay: -0.15s;
  -webkit-animation-delay: -0.15s;
  -moz-animation-delay: -0.15s;
  -ms-animation-delay: -0.15s;
  -o-animation-delay: -0.15s;
}

/* line 151, ../../app/scss/loading.scss */
#squiggle span.box-13 {
  animation-delay: -0.1s;
  -webkit-animation-delay: -0.1s;
  -moz-animation-delay: -0.1s;
  -ms-animation-delay: -0.1s;
  -o-animation-delay: -0.1s;
}

/* line 152, ../../app/scss/loading.scss */
#squiggle span.box-9 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  -moz-animation-delay: -0.5s;
  -ms-animation-delay: -0.5s;
  -o-animation-delay: -0.5s;
}

/* line 153, ../../app/scss/loading.scss */
#squiggle span.box-5 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
}

/* line 155, ../../app/scss/loading.scss */
#squiggle span.box-6 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -ms-animation-delay: 0s;
  -o-animation-delay: 0s;
  opacity: .5;
}

/* line 156, ../../app/scss/loading.scss */
#squiggle span.box-7 {
  animation-delay: 0.18s;
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  -ms-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
  opacity: .5;
}

/* line 157, ../../app/scss/loading.scss */
#squiggle span.box-10 {
  animation-delay: 0.36s;
  -webkit-animation-delay: 0.36s;
  -moz-animation-delay: 0.36s;
  -ms-animation-delay: 0.36s;
  -o-animation-delay: 0.36s;
  opacity: .5;
}

/* line 158, ../../app/scss/loading.scss */
#squiggle span.box-11 {
  animation-delay: 0.55s;
  -webkit-animation-delay: 0.55s;
  -moz-animation-delay: 0.55s;
  -ms-animation-delay: 0.55s;
  -o-animation-delay: 0.55s;
  opacity: .5;
}

/* Bars loader */
/* line 162, ../../app/scss/loading.scss */
.bars {
  margin: auto;
  width: 100%;
  height: 80px;
}

/* line 173, ../../app/scss/loading.scss */
.bars span {
  display: inline-block;
  width: 10px;
  height: 40px;
  animation-name: bars-scale;
  -webkit-animation-name: bars-scale;
  -moz-animation-name: bars-scale;
  -ms-animation-name: bars-scale;
  -o-animation-name: bars-scale;
  animation-duration: 1.2s;
  -webkit-animation-duration: 1.2s;
  -moz-animation-duration: 1.2s;
  -ms-animation-duration: 1.2s;
  -o-animation-duration: 1.2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}
/* line 179, ../../app/scss/loading.scss */
.bars span.item-1 {
  background: #2ECC71;
}
/* line 179, ../../app/scss/loading.scss */
.bars span.item-2 {
  background: #3498DB;
}
/* line 179, ../../app/scss/loading.scss */
.bars span.item-3 {
  background: #9B59B6;
}
/* line 179, ../../app/scss/loading.scss */
.bars span.item-4 {
  background: #E67E22;
}
/* line 179, ../../app/scss/loading.scss */
.bars span.item-5 {
  background: #C0392B;
}
/* line 179, ../../app/scss/loading.scss */
.bars span.item-6 {
  background: #E74C3C;
}
/* line 179, ../../app/scss/loading.scss */
.bars span.item-7 {
  background: #0BB326;
}

/* line 190, ../../app/scss/loading.scss */
.bars span.item-1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
}

/* line 190, ../../app/scss/loading.scss */
.bars span.item-2 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
}

/* line 190, ../../app/scss/loading.scss */
.bars span.item-3 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
}

/* line 190, ../../app/scss/loading.scss */
.bars span.item-4 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
}

/* line 190, ../../app/scss/loading.scss */
.bars span.item-5 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
}

/* line 190, ../../app/scss/loading.scss */
.bars span.item-6 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
}

/* line 190, ../../app/scss/loading.scss */
.bars span.item-7 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  -moz-animation-delay: -1s;
  -ms-animation-delay: -1s;
  -o-animation-delay: -1s;
}

@-webkit-keyframes bars-scale {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -webkit-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
  20%, 60% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-moz-keyframes bars-scale {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -webkit-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
  20%, 60% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@-ms-keyframes bars-scale {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -webkit-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
  20%, 60% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
@keyframes bars-scale {
  0%, 40%, 100% {
    -moz-transform: scaleY(0.2);
    -ms-transform: scaleY(0.2);
    -webkit-transform: scaleY(0.2);
    transform: scaleY(0.2);
  }
  20%, 60% {
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }
}
